.header {
  background-color: #4b2e83;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav-divider {
    height: 1.5rem;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  

  &__nav {
    display: flex;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
